@mixin menu-style(){
    border: 2px solid  rgb(209, 204, 204);
    width:280px;
    height:150px;
    text-align: center;
    padding: 135px 0 135px 0;
    font-size:1.6em ;
    
}

@mixin anime-proch{
    border:solid $colortext 1px;
    background: $colortext;
    border-radius: 100%;
    width:5px;
    height:5px;
    transform: scale();
    transition: 2s;
}
$colortext:rgb(248, 194, 16);
$coleurfoothead: rgb(36, 124, 80);

@mixin divheadermixin{
    background: $coleurfoothead ;
    padding: 1px 0 20px 0;
    height: 80px;
    width: 100%;
    
    
}
@mixin footermixin {
    
    position: fixed;
    bottom: 0;
    width: 100%;
   
    
}
@mixin pieddepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $coleurfoothead;
}


body
{  
    margin:0;
    height: auto;
}
h1
{ 
    color: $colortext;
    font-size: 3em;
    text-align: center;
    
}
.div-ohmyfood{
    margin-bottom: 25px;
    
    
}

.divheader

{   
    @include divheadermixin;
} 



.menu{  
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

    &__1accueil{
    @include menu-style();
    background: rgb(245, 205, 193);
     margin-bottom: 100px;
     margin-top: 30px;
     
    }
    &__1accueil:hover{
        transform: scale(1.4);
    }

    &__2accueil{
        @include menu-style;
        margin-bottoM: 30px;
        background-image: linear-gradient(to right, rgb(104, 75, 233), rgb(118, 181, 221) );
        color:transparent;
        background-clip: text;
    }
    
      &__2accueil:hover{
        transform: scale(1.4);
          }
          
    &__3accueil{
        @include menu-style;
        margin-bottom: 100px;
        margin-top: 30px;
        background-image: linear-gradient(to right, orange, purple );
        color:transparent;
        background-clip: text;
    }
    &__3accueil:hover{
        transform: scale(1.4);
          }
    &__4accueil{
        @include menu-style;
        margin-bottom: 30px;
        background-image: linear-gradient(to right, rgb(82, 175, 20), rgb(188, 231, 118) );
        colo:transparent;
        background-cli: text;
    }
    &__4accueil:hover{
        transform: scale(1.4);
    }
}

.big-div-box{
    width:100%;
        display: flex;
        justify-content: center;
        ;
        } 
        .div-prochainement{
      display: flex;
      flex-direction: row;;
      align-items: baseline;;
      justify-content: space-evenly;
      background:$coleurfoothead ;
      margin-bottom: 120px;
      width:270px;
      height: 40px;
      
      border: solid 2px $coleurfoothead;
      border-radius: 5%;
    }
    
    
    
    
    @keyframes point-mixin{
        
        0%{
            transform: scale(0);}
        50%{transform: scale(1);}    
        80%{transform: scale(2);}
        100%{transform: scale(0);}
    }
    
    .box{ 
        text-align: center;
        padding-top: 4px;
        font-size: 1.7em;
        color: $colortext;
        font-family: Arial, Helvetica, sans-serif;

        
        
        
        &__1{
            @include anime-proch;
            animation: 3s point-mixin  infinite;
           
        }
        
        &__2{
            @include anime-proch;
            animation:3s point-mixin 1s infinite;
            
    }
    
&__3{
    @include anime-proch;
    animation: 3s point-mixin 2s  infinite;
    
}
  }
    
    
    
.footer{
    @include footermixin();

}
.pieddepage{
    @include pieddepage();
}

@keyframes wiggle{
    0%{
        transform:rotate(0deg) ;
    }
    4%{transform: rotate(-4deg);}
    10%{transform: rotate(4deg);}
    100%{transform: rotate(0deg);}
}

  .mentionlegal{
    color: $colortext;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
  }   
  .btn-mentionlegal:hover{
    animation: wiggle 1s infinite ;
    text-decoration:none;
  }
  .contact{ 
    color: $colortext;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
 }
 .btn-contacternous:hover{
    animation: wiggle 1s infinite;
    text-decoration:none;
 }


  @media all and (max-width: 650px) {
    .menu{ 
        width: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
     
   
        .menu__1accueil{
            width: 320px
        }
        .menu__2accueil{
            width: 320px;
        }
        .menu__3accueil{
            width: 320px;
        }
        .menu__4accueil{
            width: 320px;
        }
       
    }
    .note{
        color: rgb(243, 178, 57);
        font-size: 1.7em;
    }
    @media all and (max-width: 390px){
        .pieddepage{ 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn-contacternous{
            margin-bottom: 10px;
        }
    }
    


    .container-menu1{
        text-align: center;
        border: solid 2px black;
        color:red;
    }
     