$textcouleur:yellow;

@mixin header-style{  
body
{  
    margin:0;
    h1
    { 
        color: yellow;
        font-size: 3em;
        text-align: center;
        .ohmyfood
        {   
            background: green;
            padding: 20px 0 20px 0;
        }
    }
}
}

@mixin prochainement-section{ 
.prochainement{ 
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 25px;
    border: solid green 1px;
    border-radius: 10%;
    background: green;
    width: 210px;
    margin-left: 525px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
}

@mixin footer-page{  
footer{ 
    background: green;
    
    .pieddepage{ 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 0 30px 0;
        font-size: 1.5em;

     .mentionlegal, .contact {
            color: yellow;
           font-family: Arial, Helvetica, sans-serif;
}
}
}
}
 