@mixin menu-style(){
    border: 2px solid  rgb(209, 204, 204);
    width:280px;
    height:150px;
    text-align: center;
    padding: 135px 0 135px 0;
    font-size:1.6em ;
    
}

@mixin anime-proch{
    border:solid $colortext 1px;
    background: $colortext;
    border-radius: 100%;
    width:5px;
    height:5px;
    transform: scale();
    transition: 2s;
}
$colortext:rgb(248, 194, 16);
$coleurfoothead: rgb(36, 124, 80);

@mixin divheadermixin{
    background: $coleurfoothead ;
    padding: 1px 0 20px 0;
    height: 80px;
    width: 100%;
    
    
}
@mixin footermixin {
    
    position: fixed;
    bottom: 0;
    width: 100%;
   
    
}
@mixin pieddepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $coleurfoothead;
}

@keyframes point-mixin{
    
    to{
         transform: scale(0);
    }
}

body
{  
    margin:0;
    height: auto;
}
h1
{ 
    color: $colortext;
    font-size: 3em;
    text-align: center;
    
}
.div-ohmyfood{
    margin-bottom: 25px;
    
    
}

.divheader

{   
    @include divheadermixin;
    } 
    


.menu{  
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

      &__1accueil{
    @include menu-style();
     background: rgb(245, 205, 193);
     margin-bottom: 100px;
     margin-top: 30px;
     
    }
    &__2accueil{
        @include menu-style;
        margin-bottoM: 30px;
      
        
    }
    &__3accueil{
        @include menu-style;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    &__4accueil{
        @include menu-style;
        margin-bottom: 30px;
    }
}


    .big-div-box{
        width:100%;
        display: flex;
        justify-content: center;
        } 
  .div-prochainement{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-evenly;
      background:$coleurfoothead ;
      margin-bottom: 120px;
      width:270px;
      height: 40px;
      
      border: solid 2px $coleurfoothead;
        border-radius: 5%;
    }
    

    
  
  
  .box{ 
    text-align: center;
    padding-top: 4px;
    font-size: 1.7em;
    color: $colortext;
    font-family: Arial, Helvetica, sans-serif;

 
 
    &__1{
    @include anime-proch;
    animation: point-mixin 1s infinite;
    transition: animation 1s;
    }
    
    &__2{
        @include anime-proch;
        animation: point-mixin 2s infinite;
        transition: animation 2s;
    }
    
&__3{
    @include anime-proch;
    animation: point-mixin 3s  infinite;
    transition: animation 3;
}
  }
    
    
    
.footer{
    @include footermixin();

}
.pieddepage{
    @include pieddepage();
}

@keyframes wiggle{
    0%{
        transform:rotate(0deg) ;
    }
    4%{transform: rotate(-4deg);}
    10%{transform: rotate(4deg);}
    100%{transform: rotate(0deg);}
}

  .mentionlegal{
    color: $colortext;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
  }   
  .btn-mentionlegal:hover{
    animation: wiggle 1s infinite ;
    text-decoration:none;
  }
  .contact{ 
    color: $colortext;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
 }
 .btn-contacternous:hover{
    animation: wiggle 1s infinite;
    text-decoration:none;
 }


  @media all and (max-width: 650px) {
    .menu{ 
        width: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
     
   
        .menu__1accueil{
            width: 320px
        }
        .menu__2accueil{
            width: 320px;
        }
        .menu__3accueil{
            width: 320px;
        }
        .menu__4accueil{
            width: 320px;
        }
       
    }
    .note{
        color: rgb(243, 178, 57);
        font-size: 1.7em;
    }
    @media all and (max-width: 390px){
        .pieddepage{ 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn-contacternous{
            margin-bottom: 10px;
        }
    }
    
     