@mixin menu-style(){
    border: 2px solid  rgb(209, 204, 204);
    width:280px;
    height:150px;
    text-align: center;
    padding: 135px 0 135px 0;
    font-size:1.6em ;
    
}
$coleurfoothead: rgb(84, 133, 84);

@mixin divheadermixin{
    background: $coleurfoothead ;
    padding: 1px 0 20px 0;
    height: 100px;
    width: 100%;
    
}
@mixin footermixin {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin-to: 50px;
}
@mixin pieddepage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0 25px 0;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $coleurfoothead;
}

body
{  
    margin:0;
    height: auto;
}
h1
{ 
    color: yellow;
    font-size: 3em;
    text-align: center;
}

.divheader

{   
    @include divheadermixin;
    } 
    


.menu{  
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

      &__1accueil{
    @include menu-style();
     background: rgb(245, 205, 193);
     margin-bottom: 100px;
     margin-top: 30px;
     
    }
    &__2accueil{
        @include menu-style;
        margin-bottoM: 30px;
      
        
    }
    &__3accueil{
        @include menu-style;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    &__4accueil{
        @include menu-style;
        margin-bottom: 30px;
    }
}
  .div-prochainement{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 120px;
     
  }
  
  .prochainement{ 
    text-align: center;
    font-size: 1.7em;
    
    border: solid $coleurfoothead 1px;
    border-radius: 5%;
    background: $coleurfoothead;
    width: 250px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    
  
}

.footer{
    @include footermixin();

}
.pieddepage{
    @include pieddepage();
}

  .mentionlegal{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
  }   
  .contact{ 
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
  }


  @media all and (max-width: 650px) {
    .menu{ 
        width: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
     
   
        .menu__1accueil{
            width: 320px
        }
        .menu__2accueil{
            width: 320px;
        }
        .menu__3accueil{
            width: 320px;
        }
        .menu__4accueil{
            width: 320px;
        }
    }
    @media all and (max-width: 390px){
        .pieddepage{ 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .btn-contacternous{
            margin-bottom: 10px;
        }
    }
    
     