@mixin menu-style(){
    
    width:360px;
    height:180px;
    text-align: center;
    padding: 215px 0 85px 0px;
    font-size:1.6em ;
    opacity: 0.9;
}

@mixin menuscale{
    -webkit-transform:scale(1.4)  ;
    
    transition: 0.7s; }

    @keyframes wiggle{
        0%{
            transform:rotate(0deg) ;
        }
        4%{transform: rotate(-4deg);}
        10%{transform: rotate(4deg);}
        100%{transform: rotate(0deg);}
      }

       

@mixin anime-proch{
    border:solid $colortext 1px;
    background: $colortext;
    border-radius: 100%;
    width:5px;
    height:5px;
   
    
}
$colortext:rgb(248, 194, 16);
$coleurfoothead: rgb(36, 124, 80);
$colorligne:rgba(214, 142, 7, 0.5);

@mixin divheadermixin{
    background: $coleurfoothead ;
    padding: 1px 0 40px 0;
    height: 80px;
    width: 100%;
    
    
}
@mixin footermixin {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}
@mixin pieddepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    font-size: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $coleurfoothead;
}

@mixin titremenu($colorligne:rgba(214, 142, 7, 0.5)){
    width:215px;
    text-align: center;
    text-decoration: none;
    background:linear-gradient(to top, $colorligne,0%
    , $colorligne 4px, transparent 10%)
      no-repeat left bottom;
      background-size: 0% 100%;
      transition:background-size 2s;
      
    
      &:hover{
          background-size: 100% 100%;
        
        }
}
@mixin barremenu3{
    font-size: 1.1em;
    color:rgb(48, 46, 46);
    
}

@mixin paddingsection{ padding-left: 30px;
    padding-right: 20px;
}


/*mixin des tirets des titres des menus*/
@mixin tiret($colortiret1, $colortiret2){
    width:140px;
    height:5px;
    background-image: linear-gradient(to right, $colortiret1, $colortiret2 );
    text-align:center;
    margin-top: 35px;
}


/*animation des points de suspentions de prochainement
sur la page d'accueuil*/
@keyframes point-mixin{
        
    0%{
        transform: scale(1);}
    50%{transform: scale(0);}    
    80%{transform: scale(1);}
    100%{transform: scale(1);}
}

@mixin ecart-titre {
    
        margin-right: 80px;
  margin-left: 60px;
    
}



